@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: white;
}

h2{
  font-size: 2.5rem !important;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-align: center;
}

h3{
  font-size: 1.8rem;
  font-weight: 800;
}

h4{
  font-size: 15px;
  font-weight: 600;
  color: red;
}

h5{
  font-size: 1rem !important;
  font-weight: 400;
  color: #1d1d1d;
}

h6{
  color: #999898;
  font-size: 12px !important;
}

button{
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease;
}

button:hover{
  background-color: coral;
}


#formbtn{
  background-color: black;
  color: white;
  width: 80px;
  height: 28px;
  border: 0;
}

#formbtn:hover{
  background-color: orangered;
}

#btnEs{
  border-radius: 20px;
  color: white;
  background-color: orangered;
}

#btnEs:hover{
  border-radius: 20px;
  color: white;
  background-color: rgb(79, 176, 255);
}

.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
}

.navbar-light .navbar-nav .nav-link{
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
  color: coral;
}

.navbar i{
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.home {
  display: flex;
  position: relative;
}

.textobanner {
  position: absolute;
  align-self: center;
  padding-left: 150px;
  @media only screen and (max-width:768px) {
    font-size: 4rem;
    }
}

#bsText, #bsText2{
  color: orangered;
}

#bestSeller.h2 {
  margin: 20px;
}

#carrito .h3{
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

#textProd{
  font-size: 25px !important;
  text-align: center !important;
  color: orangered;
}

#textPrecio{
  font-size: 20px !important;
  color: rgb(79, 176, 255);
  padding-top: 2px;
}

#bsItems {
  text-align: center;
}

#carrito{
  text-align: center;
}

#registroProducto {
  text-align: center;
}

.star{
  display: flex;
  justify-content: center;
  
}

#filtroItems{
  text-align: right;
  padding-right: 10px;
}

.filtroNombre{
  text-align: right;
  padding: 10px;
}

#tituloEs{
  color: rgb(0, 0, 0);
}
